:root {
  --gap: 5rem;
}

/* Media */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  text-decoration: none !important;
  color: inherit;
}

ul {
  list-style: none;
}

.mt-2 {
  margin-top: 2rem;
}

@font-face {
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-family: Gilroy Bold;
}

@font-face {
  src: url(../fonts/Gilroy-Light.otf);
  font-family: Gilroy Light;
}

.para {
  font-size: 1.5rem;
  font-weight: bold;
  color: #8e8e8e;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
}

.btn-transparent {
  text-transform: capitalize;
  padding: 3px;
  border: 0;
  font-size: 1.8rem;
  position: relative;
  z-index: 9 !important;
  background-color: #040402;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  position: relative;
  z-index: -1;
}

.btn-transparent span {
  background: #040402;
  color: #fff;
  display: inline-block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.btn-transparent span:hover {
  background: linear-gradient(to right, #e30b0e, #f58772);
  color: #000000;
}

.title-box {
  width: 60%;
  text-align: center;
}

.title-box--center {
  margin: 0 auto;
}

.title-box .title {
  font-size: 5rem;
}

.title-box .title--white {
  color: #fff;
}

.bottom-line {
  position: absolute;
  display: inline-block;
  width: 0.7rem;
  height: 10rem;
  background-image: linear-gradient(to bottom, #e30b0e, #f58772);
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.container {
  display: grid;
  grid-template-columns: [full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];
  grid-template-rows: [header-start] min-content [header-end hero-start] min-content [hero-end] repeat(7, [row-start] min-content [row-end]);
}

.header {
  grid-column: full-start/full-end;
  grid-row: header-start/header-end;
  display: grid;
  grid-template-columns: var(--gap) [center-start] 1fr [center-end] var(--gap);
  background-color: #000;
  /* mega drop down */
}

.header__container {
  position: relative;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem 6rem;
  height: 6rem;
}

.header__logo {
  font-family: Gilroy Bold;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
  align-self: center;
}

.header__logo span {
  background: linear-gradient(to right, #e30b0e, #f58772);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__menu-desktop > ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.header__menu-desktop > ul > li {
  padding: 0 2rem;
  transition: all 0.3s ease-in-out;
}

.header__menu-desktop > ul > li:not(:last-child) {
  border-left: 1px dotted #555555;
}

.header__menu-desktop > ul > li:hover {
  background: linear-gradient(to right, #e30b0e, #f58772);
}

.header__menu-desktop > ul > li:hover a {
  color: #000000;
}

.header__menu-desktop > ul > li > a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
  line-height: 6rem;
  display: block;
  text-align: center;
}

.header__menu-desktop > ul > li:last-child {
  padding: 3px;
  background: linear-gradient(to right, #e30b0e, #f58772);
  transition: all 0.3s;
}

.header__menu-desktop > ul > li:last-child a {
  display: inline-block;
  background-color: #000;
  padding: 0.5rem 1.2rem;
  line-height: 25px;
}

.header__menu-desktop > ul > li:last-child a i {
  display: inline-block;
  margin-right: 1rem;
  color: #e30b0e;
}

.header__menu-desktop > ul > li:last-child:hover a {
  color: #000;
  background: linear-gradient(to right, #e30b0e, #f58772);
}

.header__menu-desktop > ul > li:last-child:hover a i {
  color: #000000 !important;
}

.header__menu-desktop > ul .funfacts i {
  font-weight: bold;
  font-size: 1rem;
}

.header .mega-drop-down a {
  display: flex;
  align-items: center;
}

.header .mega-drop-down a:hover + .mega-menu {
  transform: translateY(0rem) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.header .mega-drop-down .fa-chevron-down {
  font-size: 1rem;
  font-weight: 400;
}

.header .mega-drop-down .mega-menu {
  position: absolute;
  padding: 1rem;
  width: 100%;
  left: 0;
  padding: 0;
  z-index: 9999999;
  transform: translateY(3rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear !important;
  display: grid;
  grid-template-columns: 30% repeat(3, 1fr);
  gap: 0 0;
}

.header .mega-drop-down .mega-menu:hover {
  display: grid;
  transform: translateY(0rem) !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.header .mega-drop-down .mega-menu img {
  overflow: hidden !important;
  transition: transform 0.3s linear !important;
}

.header .mega-drop-down .mega-menu img:hover {
  transform: scale(1.1);
}

.header .mega-drop-down .mega-menu__container {
  background-color: #000;
}

.header .mega-drop-down .mega-menu__container:not(:last-child) {
  border-right: 1px dotted #222222;
}

.header .mega-drop-down .mega-menu__container h4 {
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: #fff;
  background-color: #e30b0e;
}

.header .mega-drop-down .mega-menu__container h4:not(:nth-of-type(4)) {
  border-right: 1px solid #f58772;
}

.header .mega-drop-down .mega-menu__container img {
  display: block;
  width: 100%;
}

.header .mega-drop-down .mega-menu__container div {
  padding: 2rem;
}

.header .mega-drop-down .mega-menu__container p {
  color: #fff;
}

.header .mega-drop-down .mega-menu__container span {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.header .mega-drop-down .mega-menu__container span i {
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  margin-right: 2rem;
  transition: color 0.1s linear;
  cursor: pointer;
}

.header .mega-drop-down .mega-menu__container span i:hover {
  color: #e30b0e;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(1) ul {
  display: flex;
  flex-wrap: wrap;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(1) ul li {
  text-transform: capitalize;
  background-color: #e30b0e;
  padding: 0px;
  border-radius: 2rem;
  margin: 5px;
  padding: 5px 1rem;
  display: flex;
  align-items: center;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(1) ul li a {
  color: #fff !important;
  font-size: 1.4rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(1) ul li i {
  margin-right: 1rem;
  font-size: 1.3rem;
  color: #fff;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(2) h5 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(2) .img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(2) .img-gallery img {
  border: 2px dotted #e30b0e;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients {
  position: relative;
  margin: 1rem 0;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients img {
  width: 60%;
  display: block;
  margin-right: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients div {
  transform: rotate(-90deg);
  transform-origin: top;
  position: absolute;
  right: 1rem;
  bottom: 3rem;
  padding: 0;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients div strong {
  background: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients div strong::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
  background-color: #222222;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients div p {
  padding: 0;
  margin: 0;
  position: relative;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(3) .clients div p::after {
  content: '\f10e ';
  font-family: FontAwesome;
  position: absolute;
  font-size: 5rem;
  background: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: -2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products {
  padding: 0;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products div {
  margin: 0 3rem;
  border-bottom: 1px solid #e30b0e;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products div p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products div p i:first-child {
  color: #fff;
  font-size: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products div p i:last-child {
  color: #e30b0e;
  font-size: 3rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products .mega-input {
  padding: 0;
  border: 0;
  margin-top: 2rem;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products .mega-input input {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #222222;
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.header .mega-drop-down .mega-menu__container:nth-of-type(4) .products .mega-input button {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000000;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  text-align: center;
  border: 0;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.header .funfacts {
  position: relative;
}

.header .funfacts i {
  font-size: 1.5rem !important;
}

.header .funfacts__submenu {
  position: absolute;
}

.hero {
  grid-column: full-start/full-end;
  grid-row: hero-start/hero-end;
  display: grid;
  grid-template-columns: [full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];
  background-color: #040402;
  padding: 7rem 0;
}

.hero__container {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.hero__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__info div {
  background-color: #040402;
  padding: 2rem 0;
  padding-bottom: 3rem;
  z-index: 9;
  position: relative;
}

.hero__info div h1 {
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f4;
  font-size: 7rem;
  text-transform: capitalize;
  transform: scaleY(1.5);
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  position: relative;
  z-index: 9;
}

@media (max-width: 81.25em) {
  .hero__info div h1 {
    font-size: 6rem;
  }
}

.hero__info h5 {
  font-family: 'Montserrat', sans-serif;
  color: #666666;
  font-size: 2rem;
  font-style: italic;
  line-height: 30px;
  display: inline-block;
  position: relative;
  z-index: 9;
  background-color: #040402;
}

.hero__info h5 p {
  text-align: right;
}

.hero__info button {
  margin-top: 2rem;
}

.hero__info::after {
  content: '';
  width: 60%;
  border: 7px solid #e30b0e;
  position: absolute;
  display: inline-block;
  height: 100%;
  transform: rotate(-30deg);
  left: 15%;
  z-index: 1;
}

.hero__details {
  display: inline-block !important;
  background-color: pink;
}

.hero__img img {
  width: 100%;
}

.about {
  grid-column: full-start/full-end;
  grid-row: row-start 1 / row-end 1;
  background-color: #111111;
  padding: 15rem 0;
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
}

.about__container {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
  grid-template: 5rem;
  gap: 5rem;
}

.about__info {
  grid-column: col-start 1/col-end 1;
}

.about__info span {
  display: inline-block;
  width: 15rem;
  height: 7px;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
}

.about__info h1 {
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.about__details {
  margin-top: 3rem;
  padding: 3rem;
}

.about__details div {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 2rem;
  margin-bottom: 3rem;
}

.about__details div i {
  font-size: 5rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: transparent;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.about__details div h5 {
  color: #fff;
  font-size: 2.5rem;
  grid-column: 2/3;
  grid-row: 1/2;
}

.about__details div p {
  grid-column: 2/3;
  grid-row: 2/3;
}

.about__img {
  grid-column: col-start 2/col-end 2;
}

.about__img img {
  width: 100%;
}

.institutional {
  grid-column: full-start/full-end;
  grid-row: row-start 2 / row-end 2;
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
  background-color: #191919;
  padding: 15rem 0;
}

.institutional__container {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
  grid-template: 5rem;
  gap: 5rem;
}

.institutional__details {
  margin-top: 3rem;
  padding: 3rem;
}

.institutional__details div {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 2rem;
  margin-bottom: 3rem;
}

.institutional__details div i {
  font-size: 5rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  color: transparent;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  font-weight: bold;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.institutional__details div h5 {
  color: #fff;
  font-size: 2.5rem;
  grid-column: 2/3;
  grid-row: 1/2;
}

.institutional__details div p {
  grid-column: 2/3;
  grid-row: 2/3;
}

.institutional__img {
  grid-column: col-start 1/col-end 1;
  position: relative;
}

.institutional__img img {
  width: 100%;
}

.institutional__img a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  cursor: pointer;
  z-index: 99;
}

.institutional__img a i {
  font-size: 3rem;
}

.institutional__img a::after {
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  display: inline-block;
  z-index: -99;
  opacity: 0;
  animation: spread 1s ease-in-out infinite backwards;
}

@keyframes spread {
  from {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  to {
    width: 150%;
    height: 150%;
    opacity: 0;
  }
}

.institutional__info {
  grid-column: col-start 2/col-end 2;
}

.institutional__info span {
  display: inline-block;
  width: 15rem;
  height: 7px;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
}

.institutional__info h1 {
  font-size: 6rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

.counter {
  grid-column: full-start/full-end;
  grid-row: row-start 3 / row-end 3;
  background-color: #000000;
  padding: 10rem 0;
  position: relative;
}

.counter__container {
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
}

.counter .title-box {
  grid-column: 2/2;
}

.counter__info {
  grid-column: 2/2;
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;
}

.counter__info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.counter__info div strong {
  font-size: 5rem;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  transform: scaleY(2);
}

.counter__info div span {
  font-size: 2rem;
  font-weight: bold;
}

.services {
  grid-column: full-start/full-end;
  grid-row: row-start 4 / row-end 4;
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
  background-color: #111111;
  padding: 15rem 0;
  position: relative;
}

.services__container {
  grid-column: 2/2;
}

.services__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 35rem));
  gap: 5rem;
  justify-content: space-between;
  margin-top: 5rem;
}

.services__info div {
  background-color: #222222;
  padding: 3rem;
  text-align: center;
  transition: all 0.3s linear;
}

.services__info div span i {
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  line-height: 1;
  font-size: 6rem;
}

.services__info div h5 {
  margin: 1.5rem;
  font-size: 2.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}

.services__info div p {
  color: #666666;
}

.services__info div:first-child {
  position: relative;
  transform-style: preserve-3d;
}

.services__info div:first-child::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  background-image: linear-gradient(to bottom, #e30b0e, #f58772);
  left: -1rem;
  top: -1rem;
  transform: translateZ(-1px);
  transition: all 0.3s linear;
}

.services__info div:last-child {
  position: relative;
  transform-style: preserve-3d;
}

.services__info div:last-child::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 50%;
  background-image: linear-gradient(to bottom, #e30b0e, #f58772);
  right: -1rem;
  bottom: -1rem;
  transform: translateZ(-1px);
  transition: all 0.3s linear;
}

.services__info div:hover {
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  transform: translateY(-1rem);
}

.services__info div:hover p {
  color: #fff;
}

.services__info div:hover span i {
  color: #fff;
}

.services__info div:hover::before, .services__info div:hover::after {
  width: 100%;
  height: 100%;
}

.newsletter {
  grid-column: full-start/full-end;
  grid-row: row-start 5 / row-end 5;
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
  padding: 10rem 0;
  background-color: #000;
}

.newsletter .title-box {
  grid-column: 2/2;
}

.newsletter__container {
  grid-column: 2/2;
  margin-top: 5rem;
}

.newsletter__info form {
  display: grid;
  grid-template-columns: repeat(2, 1fr) max-content;
  gap: 2rem;
}

.newsletter__info form input {
  border: 0;
  outline: 0;
  border: 1px solid #222222;
  border-radius: 3px;
  height: 5rem;
  padding: 5px;
  background-color: transparent;
  caret-color: #fff;
}

.newsletter__info form button {
  border: 0;
  outline: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  padding: 1rem 3rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.newsletter__info form button:hover {
  background-image: linear-gradient(to right, #f58772, #e30b0e);
}

.footer {
  grid-column: full-start/full-end;
  grid-row: row-start 6 / row-end 6;
  background-color: #191919;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: [full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];
}

.footer__container {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
  gap: 5rem;
}

@media (max-width: 81.25em) {
  .footer__container {
    gap: 2rem;
  }
}

.footer__info h3 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.footer__info p {
  color: #555555;
  line-height: 25px;
}

.footer__info ul li {
  margin-bottom: 1.2rem;
  color: #555555;
  font-size: 1.8rem;
}

.footer__info ul li a {
  text-transform: capitalize;
}

.footer__info ul li a i {
  margin-right: 1rem;
}

.footer__info ul li a:hover {
  color: #e30b0e;
}

.footer__logo {
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__social i {
  margin-top: 3rem;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer__btn {
  padding: 2px;
  background-image: linear-gradient(to right, #e30b0e, #f58772);
  border: 0;
  margin-top: 2rem;
  cursor: pointer;
}

.footer__btn a {
  background-color: #000;
  display: flex;
  padding: 1.3rem;
}

.footer__btn a i {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: #ffffff;
}

.footer__btn a span {
  font-size: 1.8rem;
  color: #ffffff;
}

.footer__btn:hover a {
  background-image: linear-gradient(to right, #e30b0e, #f58772);
}

.footer__tags {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.footer__tags a {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #555555;
  padding: 1rem;
  text-transform: capitalize;
  text-align: center;
  color: #555555;
}

.footer__tags a:hover {
  color: #ffffff;
}

.footer__copyright {
  grid-column: full-start/full-end;
  padding: 2rem 10rem;
  margin-top: 10rem;
  background-color: #000000;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  color: #555555;
  font-size: 1.4rem;
}
