:root {
  --gap: 10rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

@font-face {
  src: url(../fonts/Gilroy-ExtraBold.otf);
  font-family: Gilroy Bold;
}

@font-face {
  src: url(../fonts/Gilroy-Light.otf);
  font-family: Gilroy Light;
}

.container {
  display: grid;
  grid-template-columns: [full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];
  grid-template-rows: [header-start] min-content [header-end hero-start] 90vh [hero-end] repeat(7, [row-start] min-content [row-end]);
}

.header {
  grid-column: full-start/full-end;
  grid-row: header-start/header-end;
  display: grid;
  grid-template-columns: var(--gap) [center-start] 1fr [center-end] var(--gap);
  background-color: #000;
}

.header__container {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 2rem 5rem;
  padding: 2rem 0;
}

.header__logo {
  font-family: Gilroy Bold;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
}

.header__logo span {
  background: linear-gradient(to right, #e30b0e, #fc5130);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__menu-desktop ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

.header__menu-desktop ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.2s;
}

.header__menu-desktop ul li a:hover {
  color: #e30b0e;
}

.header__menu-desktop ul li:last-child {
  padding: 3px;
  background: linear-gradient(to right, #e30b0e, #fc5130);
  transition: all 0.3s;
}

.header__menu-desktop ul li:last-child a {
  display: inline-block;
  background-color: #000;
  padding: 0.5rem 1.2rem;
}

.header__menu-desktop ul li:last-child a i {
  display: inline-block;
  margin-right: 1rem;
  color: #e30b0e;
}

.header__menu-desktop ul li:last-child:hover a {
  color: #000;
  background: linear-gradient(to right, #e30b0e, #fc5130);
}

.header__menu-desktop ul li:last-child:hover a i {
  color: #000000 !important;
}

.hero {
  grid-column: full-start/full-end;
  grid-row: hero-start/hero-end;
  background-color: blue;
}

.about {
  grid-column: full-start/full-end;
  grid-row: row-start 1 / row-end 1;
  background-color: olive;
}

.institutional {
  grid-column: full-start/full-end;
  grid-row: row-start 2 / row-end 2;
  background-color: yellow;
}

.facts {
  grid-column: full-start/full-end;
  grid-row: row-start 3 / row-end 3;
  background-color: pink;
}

.services {
  grid-column: full-start/full-end;
  grid-row: row-start 4 / row-end 4;
  background-color: gray;
}

.newsletter {
  grid-column: full-start/full-end;
  grid-row: row-start 5 / row-end 5;
  background-color: coral;
}

.talks {
  grid-column: full-start/full-end;
  grid-row: row-start 6 / row-end 6;
  background-color: burlywood;
}

.footer {
  grid-column: full-start/full-end;
  grid-row: row-start 7 / row-end 7;
  background-color: crimson;
}
