.about {
	grid-column: full-start/full-end;
	grid-row: row-start 1 / row-end 1;

	background-color: #111111;
	padding: 15rem 0;

	display: grid;
	grid-template-columns: var(--gap) 1fr var(--gap);

	&__container {
		grid-column: 2/2;

		display: grid;
		grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
		grid-template: 5rem;
		gap: 5rem;
	}

	&__info {
		grid-column: col-start 1/col-end 1;

		span {
			display: inline-block;
			width: 15rem;
			height: 7px;
			background-image: linear-gradient(to right, $default-dark, $default-light);
		}

		h1 {
			font-size: 6rem;
			font-family: 'Montserrat',
				sans-serif;
			color: #fff;
			letter-spacing: 2px;
		}

		p {}
	}

	&__details {
		margin-top: 3rem;
		padding: 3rem;

		div {
			display: grid;
			grid-template-columns: 5rem 1fr;
			grid-template-rows: repeat(2, min-content);
			gap: 2rem;

			margin-bottom: 3rem;

			i {
				font-size: 5rem;
				display: inline-block;
				width: 5rem;
				height: 5rem;
				color: transparent;
				background-image: linear-gradient(to right, $default-dark, $default-light);
				-webkit-background-clip: text;
				font-weight: bold;

				grid-column: 1/2;
				grid-row: 1/-1;
			}

			h5 {
				color: #fff;
				font-size: 2.5rem;

				grid-column: 2/3;
				grid-row: 1/2;
			}

			p {
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
	}

	&__img {
		grid-column: col-start 2/col-end 2;

		img {
			width: 100%;
		}
	}
}