.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.olive {
	background-color: olive;
}

.yellow {
	background-color: yellow;
}

.pink {
	background-color: pink;
}

.grey {
	background-color: grey;
}