.btn-transparent {
	text-transform: capitalize;
	padding: 3px;
	border: 0;
	font-size: 1.8rem;
	position: relative;
	z-index: 9 !important;
	background-color: #040402;
	background-image: linear-gradient(to right, $default-dark, $default-light);
	position: relative;
	z-index: -1;

	span {
		background: #040402;
		color: #fff;
		display: inline-block;
		padding: 1rem 1.5rem;
		cursor: pointer;
		transition: all 0.3s linear;

		&:hover {
			background: linear-gradient(to right, $default-dark, $default-light);
			color: #000000;
		}
	}
}

.title-box {
	width: 60%;
	text-align: center;

	&--center {
		margin: 0 auto;
	}

	.title {
		font-size: 5rem;

		&--white {
			color: #fff;
		}
	}
}

.bottom-line {
	position: absolute;
	display: inline-block;
	width: 0.7rem;
	height: 10rem;
	background-image: linear-gradient(to bottom, $default-dark, $default-light);
	left: 50%;
	top: 100%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.mega-show {
	opacity: 1 !important;
	visibility: visible !important;
}

.mega-hide {
	opacity: 0 !important;
	visibility: hidden !important;
}