.container {
	display: grid;
	grid-template-columns:
		[full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];
	grid-template-rows: [header-start] min-content [header-end hero-start] min-content [hero-end] repeat(7,
			[row-start] min-content [row-end]);
}