.counter {
	grid-column: full-start/full-end;
	grid-row: row-start 3 / row-end 3;

	background-color: #000000;
	padding: 10rem 0;
	position: relative;

	&__container {
		display: grid;
		grid-template-columns: var(--gap) 1fr var(--gap);
	}

	&__line {
		position: absolute;
		display: inline-block;
		width: 1rem;
		height: 15rem;
		background-image: linear-gradient(to bottom, $default-dark, $default-light);
		left: 50%;
		top: 100%;
		transform: translate(-50%, -50%);
	}

	.title-box {
		grid-column: 2/2;
	}

	&__info {
		grid-column: 2/2;

		display: flex;
		justify-content: space-between;

		margin-top: 7rem;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			color: $color-white;

			strong {
				font-size: 5rem;
				background-image: linear-gradient(to right, $default-dark, $default-light);
				-webkit-background-clip: text;
				background-clip: text;
				color: transparent;
				font-family: 'Montserrat',
					sans-serif;
				font-weight: bold;
				letter-spacing: 2px;
				transform: scaleY(2);
			}

			span {
				font-size: 2rem;
				font-weight: bold;
			}
		}
	}

}