.header {
	grid-column: full-start/full-end;
	grid-row: header-start/header-end;

	background-color: #000000;
	padding-top: 1rem;

	display: grid;
	grid-template-columns: var(--gap) [center-start] 1fr [center-end] var(--gap);

	&__container {
		grid-column: center-start/center-end;

		display: grid;
		grid-auto-flow: column;
		justify-content: space-between;

		color: #555555;
		position: relative;
	}

	&__menu {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 7rem;
	}

	&__logo {

		a {
			font-size: 4rem;
			line-height: 1;
			font-weight: bold;
			background-image: linear-gradient(to right, $default-dark, $default-light);
			-webkit-background-clip: text;
			background-clip: text;
			color: transparent;
			font-family: 'Montserrat',
				sans-serif;
		}
	}

	&__desktop {

		ul {
			display: grid;
			grid-auto-flow: column;
			gap: 3rem;

			li {
				a {
					text-transform: capitalize;
					transition: all 0.3s linear;
					padding: 1rem 0;

					&:hover {
						color: $default-dark;
					}
				}
			}
		}
	}

	&__mobile {}

	&__social {
		display: grid;
		grid-auto-flow: column;
		gap: 2rem;

		i {
			&:hover {
				color: #fff;
			}
		}
	}

	/* Mega Menu */
	&__mega {
		position: absolute;
		width: 100%;
		top: 100%;
		transition: all 0.3s linear;
		padding-top: 2rem;
		z-index: 99;
		background-color: #000000;

		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr 1fr;
		flex-wrap: wrap;

		/* transform: translateY(5rem);
		opacity: 0;
		visibility: hidden; */

		h4 {
			padding: 1rem;
			text-align: center;
			border-right: 1px solid #333333;
			color: #fff;
			background-color: $default-dark;
		}

		&__box {
			padding: 1rem;

			h5 {
				color: $default-dark;
				text-align: center;
				padding-bottom: 1rem;
				text-transform: capitalize;
				font-size: 1.5rem;
				letter-spacing: 1.5;
				border-bottom: 1px dotted $color-white;
			}

			&--1 {

				ul {
					display: flex;
					flex-wrap: wrap;
					margin-top: 2rem;

					li {
						background-color: #222222;
						border: 1px dotted #444444;
						padding: 0.3rem 1rem;
						color: #fff;
						font-size: 1.2rem;
						text-align: center;
						border-radius: 30px;
						margin-right: 1rem;
						margin-top: 1rem;

						a {
							text-transform: capitalize;
						}
					}
				}
			}

			&--2 {

				div {
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
					grid-auto-rows: 8rem;
					grid-auto-flow: dense;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						border: 1px dotted $default-dark;
					}

					img:nth-of-type(3) {
						grid-column: span 2;
						grid-row: span 2;
					}

					img:nth-of-type(6) {
						grid-row: span 3;
					}

					img:nth-of-type(8) {
						grid-row: span 2;
					}

					img:nth-of-type(9) {
						grid-column: span 2;
					}

					img:nth-of-type(12) {
						grid-column: span 3;
					}
				}
			}

			&--3 {
				div {
					img {
						width: 100%;
					}

					p {
						color: #fff;
					}

					p:nth-of-type(2) {
						font-size: 1.3rem;
						padding-left: 1rem;
						position: relative;

						&::after {
							content: "\f10e";
							position: absolute;
							font-family: "Font Awesome 5 Free";
							font-weight: 900;
							font-size: 10rem;
							right: 0;
							color: #555555;
						}
					}
				}
			}

			&--4 {}
		}
	}
}