.hero {
	grid-column: full-start/full-end;
	grid-row: hero-start/hero-end;

	display: grid;
	grid-template-columns: [full-start] var(--gap) [center-start] 1fr [center-end] var(--gap) [full-end];

	background-color: #040402;
	padding: 7rem 0;

	&__container {
		grid-column: center-start/center-end;

		display: grid;
		grid-template-columns: 2fr 1fr;
		justify-content: space-between;
		align-items: center;

	}

	&__info {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		div {
			background-color: #040402;
			padding: 2rem 0;
			padding-bottom: 3rem;
			z-index: 9;
			position: relative;

			h1 {
				font-family: 'Montserrat', sans-serif;
				color: #f4f4f4;
				font-size: 7rem;
				text-transform: capitalize;
				transform: scaleY(1.5);
				background-image: linear-gradient(to right, $default-dark, $default-light);
				-webkit-background-clip: text;
				color: transparent;
				display: inline-block;
				position: relative;
				z-index: 9;

				@media (max-width: $bp-1300) {
					font-size: 6rem;
				}
			}
		}

		h5 {
			font-family: 'Montserrat', sans-serif;
			color: #666666;
			font-size: 2rem;
			font-style: italic;
			line-height: 30px;
			display: inline-block;
			position: relative;
			z-index: 9;
			background-color: #040402;

			p {
				text-align: right;
			}
		}

		button {
			margin-top: 2rem;
		}

		&::after {
			content: '';
			width: 60%;
			border: 7px solid $default-dark;
			position: absolute;
			display: inline-block;
			height: 100%;
			transform: rotate(-30deg);
			left: 15%;
			z-index: 1;
		}
	}

	&__details {
		display: inline-block !important;
		background-color: pink;
	}

	&__img {

		img {
			width: 100%;
		}
	}
}