@font-face {
	src: url(../fonts/Gilroy-ExtraBold.otf);
	font-family: Gilroy Bold;
}

@font-face {
	src: url(../fonts/Gilroy-Light.otf);
	font-family: Gilroy Light;
}

.para {
	font-size: 1.4rem;
	line-height: 27px;
	color: #222222;
}