:root {
	--gap: 5rem;
}

$default-dark: #e30b0e;
$default-light: #f58772;
$color-white: #fff;

$font-normal:'Poppins',
sans-serif;
$font-bold:'Montserrat',
sans-serif;

/* Media */
$bp-1300:81.25em;
$bp-1150:71.87em;

@media (max-width:$bp-1300) {}